
<div id="product-locked-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
		<h4 class="modal-title">Adding Products is Locked</h4>
		
      </div>
		
      <div class="modal-body">
		<p>We are currently checking the inventory status of the products on your board.  In order to keep things manageable, we have disabled adding additional products to the board at this time.  Once the board has been reviewed, we'll let you know and you'll be able to add more products then, if you wish (after which it will be reviewed again for the new products you add).  Please send a message if you have any questions. Thanks!</p>
		
      </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	</div>
	
	
	
      
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->