<div id="product-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
		<% if false %><h4 class="modal-title">Search and Add Products to Your Board</h4><% end %>
		<div class="board-product-search">
			<%= form_tag("/boards/product_search", method: "get", :id => "product_search_form") do %>
			<div class="row">
				<div class="col-xs-2">
					<label class="control-label">Wholesaler</label>
					<%= select_tag "wholesaler_taxon", options_from_collection_for_select(@wholesaler_taxons, "id", "name"), :include_blank => true, :class => "form-control" %>
				</div>
				<div class="col-xs-2">
					<label class="control-label">Department</label>
					<%= select_tag "department_taxon", options_from_collection_for_select(@department_taxons, "id", "name"), :include_blank => true, :class => "form-control" %>
				</div>
				<div class="col-xs-2">
					<label class="control-label">Search by keyword</label>
					<input type="text" id="product_keywords" name="product_keywords" class="form-control">
				</div>
				<div class="col-xs-2">
					<label class="control-label">&nbsp;</label><br />
					<%= submit_tag("Search", :class => "btn btn-primary")%>
				</div>
				<div class="col-xs-4" >
					<div id="select-products-pagination"></div>
				</div>
			</div>
			<% end %>
		</div>
      </div>
		
      <div class="modal-body">
			<div class="row">
				<div class="col-md-9">
					<div id="select-products-box"></div>
				</div>
				<div class="col-md-3">
					<div id="product-details-pane">
					
					</div>
				</div>
			</div>
      </div>
      
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->