<div class="row">
  <div class="col-md-12 js-filter-search">
    <% if taxon_filters.present? %>
        <% params[:board_id] = board.id %>
        <% taxon_filters.each do |key, value| %>

            <div class="filter-option-box col-md-3">
              <%= select_tag key.to_sym, options_for_select(generate_filter_select(value, params, key)), class: 'form-control js-select-filter-value', data: {room_id: params[:id]} %>
            </div>
        <% end %>
        <% if params[:s].present? %>
            <% params[:s].each do |set| %>
            <%= set  %>
            <% end %>
        <% end %>
    <% end %>

  </div>
</div>