<div id="board-modal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	<%= form_for [@board] do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
		<h4 class="modal-title">Edit Board Details</h4>
		
      </div>
		
      <div class="modal-body">
				<%= render :partial => 'form', :locals => { :f => f } %>
      </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<%= submit_tag("Save Changes", :class => "btn btn-primary")%>
	</div>
	<% end %>
      
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->