<div id="publish-board-modal-<%= board.id%>" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
	<%= form_for board, {:url => submit_for_publication_path(board)} do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        
		<h4 class="modal-title">Publish Your Room</h4>
		
      </div>
		
      <div class="modal-body">
		<p style="font-weight: normal;">When you submit your room to be published, it goes to the Scout & Nimble staff to review it for product availability. We might make suggestions for substitutions if we find an item does not have sufficient inventory.</p>
		<%= f.fields_for :messages do |message| %>
		<div class="form-group">
			<label>Would you like to include any questions or comments?</label>
			<textarea id="board_message_content" name="board[state_message]" rows="5" class="form-control" rows="5"></textarea>
		</div>
		<% end %>
      </div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		<%= submit_tag("Submit to Publish", :class => "btn btn-primary")%>
	</div>
	
	
	
	<% end %>
      
	
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->