<div class="modal fade" id="variant_options_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title" id="myModalLabel">Please select from an option below</h4>
		</div>
		<div id="board_options_preloader" class="hidden" style="padding-top: 20px; text-align: center;"><%= image_tag("store/preloader64.gif")%></div>
		
		<div class="modal-body" id="room_variant_options_container">
			
		</div>
    </div>
  </div>
</div>