<div class="drag" style="left: 64px; top: 195px;"></div>
<div class="drag" style="left:100px;"></div>
<div class="drag" style="left:180px;"></div>
<style type="text/css">
.drag {
	position: absolute;
	border: 1px solid #89B;
	background: #BCE;
	height: 58px;
	width: 58px;
	top: 120px;
	cursor: move;
	}
.active {
	background-color: #BEE;
	border-color: #8BB;
	}
</style>