<div class="row">
	<div class="col-md-3">
		<%= render :partial => "search_form"%>
	</div>
	<div class="col-md-9">
	
		
		<h2>Featured Rooms</h2>
		<div class="boards-list-main">
			<% unless @boards.blank? %>
				<%= render :partial => "boards_list", :locals => {:boards => @boards}%>
			<% else %>
				<div class="empty-state">There aren't any featured boards at this time.</div>
			<% end %>
		</div>
		
		<h2>Featured Products</h2>
		<div class="boards-list-main">
			<% unless @products.blank? %>
				<%#= render :partial => "products_list", :locals => {:proucts => @products}%>
			<% else %>
				<div class="empty-state">There aren't any featured products at this time.</div>
			<% end %>
		</div>
	</div>
</div>


