<h1>Listing designer_registrations</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @designer_registrations.each do |designer_registration| %>
      <tr>
        <td><%= link_to 'Show', designer_registration %></td>
        <td><%= link_to 'Edit', edit_designer_registration_path(designer_registration) %></td>
        <td><%= link_to 'Destroy', designer_registration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Designer registration', new_designer_registration_path %>
