<div class="page-header">
	<h1>Scout & Nimble Designer Registration</h1>
</div>
<div class="row">
	<div class="col-md-6">
		<h3>Want to be a Scout & Nimble Designer?</h3>
		<p>Scout & Nimble is the world’s premier marketplace for independent interior design and home décor. Our mission is to find exceptional interior designers & enthusiasts and bring their work to consumers who appreciate great design.</p>


		<p>
		Join our team of Room Designers:
		<ul>
		<li>Earn a supplemental monthly income and qualify for special promotions.</li>
		<li>100% creative freedom.</li>
		<li>Build your brand and reach new clients through our community.</li>
		<li>Create rooms from the comfort of your own home while we handle inventory acquisition, e-commerce, distribution, & customer service.</li>
		<li>growing your custom interior design business.</li>
		<li>Access hundreds of design resources and opportunities.</li>
		<li>Experience no overhead cost.</li>
		<li>Because we think you’re pretty fabulous!</li>
		</ul>
		</p>
		
		<h3>Benefits of the Designer Program </h3>
		<p>Scout & Nimble offers exclusive trade pricing and services to designers & architects.</p>



		<p>Join our Design Trade Program and enjoy:
		<ul>
		<li>Shopping all of our family of brands.</li>
		<li>Up to a 15% discount and applicable tax exemptions.</li>
		<li>Learning more about our manufacturers and products.</li>
		<li>Receiving promotions and incentives periodically for you & your clients.</li>
		</ul>
		</p>
		
	</div>
	<div class="col-md-6">
		<div class="login-box">
			<div class="login-header">
				<h6>Designer Registration Form</h6>
			</div>
			<div class="login-content">
				<% if spree_current_user %>
					<%= render :partial => "form" %>
				<% else %>
				<p>To submit a registration, <%= link_to "please login with your Scout & Nimble user account", new_spree_user_session_url %>.  If you don't have a user account yet, <%= link_to "please create one real quick", new_spree_user_registration_url %>.  </p>
				<% end %>
			</div>
		</div>
		
	</div>
	
</div>