<div class="row">
	<div class="col-md-6 col-md-offset-3">
		
		<div class="login-box">
			<div class="splash-content">
				<h1>Thanks for registering!</h1>
				<p>We have received your application and will be reviewing it.  Thanks so much for your interest in becoming a designer with us.  As soon as we've had a chance to review your application, we'll get back with you. </p>
				
				<p>In the meantime, if you want something interesting to read, check out our <%= link_to "blog", "http://blog.scoutandnimble.com"%>.</p>
			</div>
		</div>
	</div>
</div>