<div class="page-header">
	<h1>Scout & Nimble Designer Registration</h1>
</div>
<div class="row">
	<div class="col-md-12">
		<h3>Thanks for submitting your registration</h3>
		<p>We will review your registration and get back with you very soon.</p>
	</div>
</div>

