<div class="container">	
	<img src="/images/about/our-mission.jpg" class="img-responsive" /><br/>

	<p style="font-size: 24px; padding: 0 50px"><br />Our mission is to bring exceptional designers &amp; enthusiasts together with unique &amp; stylish products so consumers can browse, discover, &amp; shop fully curated rooms. Our goal is to make shopping for home d&eacute;cor fun and easy by exceeding your customer service expectations along the way. We invite you to explore all the possibilities that await you &amp; your home.</p>
	<div style="border-bottom: 2px solid #B2D7D0;height: 24px;"></div>
	<p><br /><br /><span style="color: #CCAA4C;font-size: 16px;margin-left: 20%;"> &ldquo;Good design doesn&rsquo;t have to wait. Have a well-designed completely furnished space within minutes&rdquo;</span></p>
	<div style="border-bottom: 2px solid #B2D7D0;height: 24px;"></div><br/>
	<h2 style="text-align: center;">Our Story</h2>
	<p>I started the Scout &amp; Nimble blog in Fall 2011 with the desire to simply create a place where I could share our day-to-day life with friends and family.&nbsp; I quickly noticed that my content became more about my love of design and home d&eacute;cor than anything else and it wasn&rsquo;t too long before I started to get inquiries from individuals wanting me to help make over their space.&nbsp; At the same time, I saw many of my blogging friends and acquaintances doing a lot of design work on the side, some so busy that they were opening full service design firms.&nbsp; I saw a variety of different scenarios...some were so involved in building their brands and loving every second of it, while others were having to turn down jobs/money due to time constraints and feeling torn between their passion and their family.&nbsp; Both of these scenarios sparked an idea during a conversation with my husband, an idea that wouldn&rsquo;t go away and kept us up at night.&nbsp; We decided to take a huge leap of faith, invest in ourselves and search for people who would help make our dream a reality. <br /><br />We wanted to create a community where designers could live their passion, express their vision, gain exposure, raise awareness of their brand, and have a chance to share their designs while earning an income.&nbsp; We also knew that you, the consumers, had needs, too.&nbsp; People want beautiful, well-designed homes filled with unique products that reflect their style and personality yet not everyone has the means to be able to hire an interior designer to do this for them.&nbsp; We thought it would be possible to bring all of these things together in one place that could be a win for everyone.<br /><br />So, we wrote a business plan, and found some really fantastic people who believed in our concept and were willing to work with us to make it happen.&nbsp; &nbsp;<br /><br />If you&rsquo;re wondering who makes up our Scout &amp; Nimble family, they are creative professionals who live throughout the US.&nbsp; Some of them have design degrees, and some of them don&rsquo;t.&nbsp; Many are parents; some have full-time jobs in creative fields, and many are well-known apart from their success at Scout &amp; Nimble.&nbsp; It is our dream that our collection of curated room designs from established designers from all over the US will reach hundreds of thousands of your homes; allowing you to express your personal style without all the guesswork, celebrate a new house or a new addition to the family, and above all else, allow you the time to enjoy every other aspect of life to its fullest.&nbsp; It has been a joy working with the hard-working, gracious, and massively talented designers in our community.&nbsp; I know you will love them as well as the products that we stand behind.&nbsp; We look forward to hearing about the difference it has made in your life, so please continue sending us your before and after pictures. Thank you for taking the time to come and see what Scout &amp; Nimble is all about. <br /><br />&nbsp;<br /><br />

		<img src="/images/about/jessi.jpg"/><br />;) Jesse 
		<br />Scout &amp; Nimble, President &amp; Co-Founder<br /><br />&nbsp;<br /><br />&nbsp;<br />

		<h2 style="text-align: center;">Meet the Team</h2>

		
		<div class="row">
			<div class="col-md-4">
				<div class="bio-image-section">
					<%= image_tag("/images/about/team-1.jpg", :class => "img-round")%>
					<div>
						<a href="" style="color:black;font-size:18px;">Sam Bodine</a>
					</div>
					<div>
						<span style="">Co-founder</span>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="bio-image-section">
					<%= image_tag("/images/about/team-3.jpg", :class => "img-round")%>
					<div>
						<a href="" style="color:black;font-size:18px;">Jamie Stephens</a>
					</div>
					<div>
						<span style="">Product Architect</span>
					</div>
				</div>
			</div>
			
			<div class="col-md-4">
				<div class="bio-image-section">
					<%= image_tag("/images/about/team-4.jpg", :class => "img-round")%>
					<div>
						<a href="" style="color:black;font-size:18px;">Jesse Bodine</a>
					</div>
					<div>
						<span style="">President, Co-founder</span>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>

