<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/boards/dashboard_menu", :locals => {:selected => "suppliers"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1>Our Suppliers</h1>
			</div>

			<%= image_tag("/images/scout-suppliers.jpg")%>
	  	
	</div>
</div>

