<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/home/dashboard_menu", :locals => {:selected => "tips"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1>Room Designer Tips & Guidelines</h1>
			</div>
			
			<h3>Building your Rooms</h3>

			<p>While in Beta, each Room Designer will be given the ability to build 5 rooms.  You can build any type of room that you would like from our 6 categories (Living Room, Dining Room, Bedroom, Outdoor Living, Kids Room, & Home Office)</p>

			<p>The rooms should appear as a vision board for a room versus looking like an actual room.  We believe a clean polished look will be best with no overlapping products.</p>

			<p>There are thousands of products available for you to search through on our site, so in order to help we have created a bookmark function within the room builder that allows you to mark products you love and easily find them all in one place.</p>

			<p>We want to make adding products to your room as easy as possible.  You can search for products by wholesaler, by product category, or by keyword search in order to help you find a specific product.  Please know we are working daily on making updates to our room builder to help maximize it’s functionality for you and to make searching products as easy as possible.  We will inform you of changes as we implement them.  </p>

			<p>All the products are first come, first serve.  Once a product is placed within a room, it is removed from the back end of our site.  If you delete it from your room, it will go back into the Room Designer’s list of products. </p>

			<p>We will be adding “product inventory “and “made to order” information for each product.  Please use these as a guide for helping you choose products that are in stock with our suppliers.  This will ensure that your room is published quickly for consumers to start shopping. </p>

			<p>Mixing products from different price points will reach the widest consumer basis.</p>

			<p>Add paint colors to your room in step 2.  We have partnered with Benjamin Moore & Sherwin Williams and have their entire paint catalogs in our system.  You can add up to 5 colors to each room to give consumers several options for main wall colors or you could specify a main wall color, accent wall color, ceiling or trim color.  Most paint colors are not accurately portrayed on the web, therefore we recommend using a paint swatch to find a true color and then selecting that color on our site. </p>

			<p>Adding multiple suggested paint colors from different paint families will increase the chances that your room will be found on our site by consumers.  If you choose multiple paint colors, please give a detailed explanation in step 3 on how you would suggest the paint be used.  Ex:  Main wall color, trim color, accent wall color.</p>

			<p>In Step 3, the Room Details area, give as many tips and thought processes on why you chose certain products to go together.  This is a place where you can show your personality and connect with the consumers.  Taking the consumer through this process will not only make the consumers understand your decisions, but they will learn more and understand the importance of certain pieces which will help sell the products in your room. (For example, I love how the structured back on the accent chairs balances the curvy rolled back sofa.)</p>

			<p>Once you have finished a room, it is ready to submit.  This does not mean it will be published immediately.  The finished room will be ready for our team to double check inventory status on the products to ensure they are available for purchase.  We want to do everything in our power to minimize and prevent backorders so that we can maintain the highest level of customer service.  If we find a product that is low in inventory or out of stock, we will send you an email explaining which product(s) have been removed from the room and you will be allowed to either replace it with a new product or submit the room back to us to be published without the product(s).</p>  

			<p>A room will stay published on our site until 30% of the product on the room becomes backordered or out of stock.  An out of stock product takes away from you earning money and we don’t want you waiting for your money.  We will do a final push marketing campaign on that room and display it as a room that will be retiring soon to help boost sales of the remaining pieces within your room before officially retiring it.</p>

			<p>Once a room is retired, the link will remain open to the room with a message that the room has expired and will have other rooms by you featured for customers to click on because nothing drives us crazier than when a Pinterest link leads to nothing but a 404 page.  That way, people directed into our site from various sources will see that they indeed are in the right place and will be directed to stay within that same designers’ rooms.</p>

			<p>If you wish to have a Published room removed or replaced, please email designer@scoutandnimble.com and request for it to be removed.  Please be sure to give us the name of the room in the email.  We will make a decision on whether to remove it based on its sales and product availability. </p>



			<h3>Promoting your Rooms</h3>

			<p>Promoting your rooms on your blog will have a huge impact as your readers already love your style and advice.  You are able to add a widget of each room to your website.  When we go live, you will find the widget under the “Share” tab next to your room.  You can also embed it within a blog post, in the sidebar or in a featured area of your site.  You can use your products from your rooms in round ups as well with a link to the product page.</p>  

			<p>The Share tab will also include links for social media allowing you, readers, & customers to pin products, rooms, or share on other forms of social media.</p>

			<p>We encourage you to browse the site and pin your favorite rooms & products to help build site awareness.  The more traffic we achieve, the more sales will be generated for all involved.  We will share in fun, too, by performing daily features and sending out promotional emails to customers to help build as much sales as possible.</p>  



			<h3>Designer Dashboard & Earning</h3>


			<p>The designer dashboard makes tracking your progress easy.  See how much you have earned on each room and see how many views your rooms receive daily.</p>

			<p>The revenue earned from your room will be distributed one time each month at the end of the month.  Funds earned will be processed once a products return policy has expired.</p>

			

	  	
	</div>
</div>

