<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/home/dashboard_menu", :locals => {:selected => "tips"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1 class="with-action">Tips & Tricks</h1>
			</div>


	  	
	</div>
</div>

