<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/home/dashboard_menu", :locals => {:selected => "tips"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1>Room Designer Tips & Guidelines</h1>
			</div>
			
			<h3>How many rooms can I build?</h3>
			<p>While in Beta, each Room Designer will be able to build 5 rooms.  There are 6 categories to choose from (Living Room, Dining Room, Bedroom, Outdoor, Kids Room & Home Office)</p>

			<h3>How should I place products on a board?</h3>
			<p>We want to keep a clean and polished look across the board.  The rooms should appear as a vision board for a room versus looking like an actual room with overlapping products.  </p>

			<h3>Can I mark my favorite products?</h3>
			<p>Yes!  We have created a Bookmark function within the room builder that allows you to mark products you love and easily find them all in one place.  We are working to add this to the product pages as well.</p>

			<h3>How do I “claim” products?</h3>
			<p>All products are first come, first serve.  Once a product is placed within a room, it is removed from the back end of our site and no other designer can use that product.  Please note that bookmarking an item does not save it for you.  If a product you have bookmarked is used in another designer’s room, it will remain in your bookmarks, but you will be unable to drag it into a room.  </p>

			<h3>How can I find products that I’m looking for?</h3>
			<p>You can search by wholesaler, by product category, or keyword search to help you find a specific product. </p> 

			<h3>How do I delete a product I no longer want from my room?</h3>
			<p>Click on the product you wish to delete within in your room and down below in the product detail box there is a button you can click that says “remove from room”.  It will then be added back to the products available for all designers to use within their rooms.</p>

			<h3>How do I add paint colors to my room?</h3>
			<p>You do this in step 2 of the room building process.  We have partnered with Benjamin Moore & Sherwin Williams and have their entire paint catalogs in our system.  Search their color swatches or type in the exact paint color number to pull individual colors.</p>

			<h3>How many paint colors can I add to a room?</h3>
			<p>You can choose up to 5.  You can give the consumers 5 examples of different colors for main wall colors or you could specify a main wall color, accent wall color, ceiling or trim color.  Adding multiple suggested paint colors from different paint families will increase the chances that your room will be found on our site by consumers.  If using multiple colors, please give a detailed explanation in step 3 on how you would suggest the paint be used. (eg, main wall color, trim color, accent wall color)</p>

			<h3>How do I add text or details to my room?</h3>
			<p>You can add text, purchasing notes and any other details in Room Details area of step 3.  We highly suggest giving as many tips and thought processes on why you chose certain products to go together.  This is a place where you can show your personality and connect with the consumers.  Taking the consumer through this process will allow them to learn more and understand the importance of pairing certain pieces together which will help sell more products from your room and increase your earnings.  Any insight from you will be highly valuable to each consumer.</p>

			<h3>Can I copy a product image or duplicate a product to show that I want the consumer to buy 2 or 3 of an item?</h3>
			<p>At this time, we do not have a duplicating feature.  Remember this is more of a vision for a room so please note these things in the room details.  For example, you envision 2 club chairs, 3 mirrors, etc...</p>

			<h3>I’m finished with my room, now what?</h3>
			<p>It is ready to submit!  This does not mean it will be published immediately.  Before a room goes live on the site, our team will double check inventory status on the products you have chosen to ensure they are available for purchase.  We want to do everything in our power to minimize and prevent backorders so that we can maintain the highest level of customer service.  If we find a product that is low in inventory or out of stock, we will send you an email letting you know that your room is released back to you and needs further action by you.  You can choose to replace the item(s) with a new product(s) or submit the room back to us to be published without the product(s).  We are working hard with our manufacturers so that we are able to display live inventory levels on the products you are searching so you can avoid products that are out of stock/low inventory.  </p>

			<h3>How long will my room stay live on the site?</h3>
			<p>Your room will stay live until 30% of the product in the room becomes out of stock or backordered.  We will do a final push marketing campaign on that room and display it as a room that is retiring soon to help boost sales of the remaining pieces within your room before officially retiring it.</p>

			<h3>What happens to my retired rooms?</h3>
			<p>Once a room is retired, the link will remain open to the room with a picture of the room & message that it has expired because nothing drives us crazier than a Pinterest link leads to a 404 page.  We will also display other rooms by you on this page to direct consumers to your current rooms.</p>

			<h3>What if I want a room taken off or I want to replace an older room with a newer one?</h3>
			<p>Just email us and let us know at Designer@scoutandnimble.com with your request! Please be sure to give us the name of the room in the email.  We will take a look at its sales and product availability and work with you on your requests.</p>

			<h3>Can I add my rooms to a blog post?</h3>
			<p>Yes!  Promoting your rooms on your blog will have a huge impact as your readers already love your style and advice.  We have created a widget for each room you create that will embed it within a blog post, sidebar, or featured area of your site.  You can also include your products in round ups or other posts to help increase your earnings.</p>

			<h3>How can I increase my sales and make more cash?</h3>
			<p>We know money doesn’t equal happiness, but if you would like to increase your bottom line, we recommend pinning your rooms and products and sharing them on social media.  We do have a share tab connected with each room allowing you, your readers and customers to share them to their favorite social media platforms.  We also encourage you to help build site awareness.  The more traffic we achieve, the more sales that will be generated for all involved.  We will share in the fun, too, by performing daily features and sending out promotional emails to customers to help build sales as much as possible.  Choosing unique products that are within the price range you think is reasonable for your readers and followers is also greatly beneficial.  </p>

			<h3>How can I see my sales?</h3>
			<p>The designer dashboard makes tracking your progress easy.  You can see how much you have earned on each room and how many views your rooms receives every single time you log in.</p>

			<h3>How do I get paid?</h3>
			<p>We want to show you the money!  Every time a product that you have added to a room gets sold, you earn the commission, regardless of the referral.  We do believe to capitalize on this, you may want to pick products from different price points and pick products that you love.  The revenue earned from your rooms will be distributed one time each month at the end of the month.  Funds earned will be processed once product’s return policy has expired.</p>

			<h3>How do I know if there is something I need to do?</h3>
			<p>The dashboard is your best resource to see if your action is needed.  If a board is in the edit mode, “draft” will be showing before your room in the dashboard.  This means it is in your hands and you have to take further action to get it published.   Once you save & publish a room, the “draft” will change to “pending”.  Pending means it is in our hands and there is nothing you need to do.  We are checking inventory levels to make sure we can push a room live.  If we see that everything is in stock, we will change the room status to “published” and there is no further action needed to be done by you.  If during the pending stage, we find that product(s) that you included in the room are out of stock, we will remove the items and return the room back to you in a “draft” state.  You can then add in product to replace the items removed or decide to leave it as is.  You must hit the save & publish button to resubmit it back to us in order to get it live and showing as “published”.</p>  

			<h3>Is there are way I can see product information like inventory or dimensions?</h3>
			<p>Yes, we are currently adding in inventory levels, days to ship and product dimensions to each product so you can see those and include those things in your decision making when selecting product.</p>

			<h3>Any other tips?</h3>
			<p>We highly recommend coming up with a fun name for each of your rooms.  Something unique that they will remember will be best!</p>








			
			
	  	
	</div>
</div>

