<div class="row">
	<div class="col-md-3">
		<%= render :partial => "/spree/home/dashboard_menu", :locals => {:selected => "tutorial"}%>
	</div>
	

	<div class="col-md-9">
		
			<div class="page-header">
				<h1>Video Tutorial</h1>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<iframe src="//fast.wistia.net/embed/iframe/qljq2ewzlh?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="400"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
				</div>
			</div>

	  	
	</div>
</div>

