
<div = "row">
  <% @board_products.each do |board_product| %>
    <% if board_product.product.variants.empty? %>
      <%= render "board_with_no_variants_tile", board_product: board_product %>
    <% else %>
      <%= render "board_with_variants_tile", board_product: board_product %>
    <% end %>
  <% end %>
</div>


