/*

*/

.boards-list-main h3{
	margin: 0;
	padding: 0;
}

.boards-list-main p{
	margin: 0;
	padding: 0;
}

.boards-list-main .board{
	margin-bottom: 20px;
}

.boards-list-main .board h3{
	margin-bottom: 5px;
	border: 0;	
}

.boards-list-main .board h3 a{
	color: #333;
}

.boards-list-main .board .board-byline{
	color: #666;
	font-size: 14px;
	margin-bottom: 8px;
}
	
.boards-list-main .board img{
	width: 100%;
	border: 1px solid #ccc
}

.board-details{
	margin-bottom: 20px;
}
.board-details p{
	margin: 0;
	padding: 0;
	font-size: 13px;
	line-height: 20px;
}

.board-designer-column{
	margin-bottom: 20px;
}

.board-designer-column p{
	margin: 0 0 10px 0;
	padding: 0;
}

.board-sidebar-section{
	margin-bottom: 20px;
}

.board-sidebar-section p{
	margin: 0 0 10px 0;
	padding: 0;
}


/* dashboard styles */

.board-product-search table{
	margin-bottom: 10px;
	width: 100%;
}

.board-product-search table tr th{
	text-align: left;
	padding: 0;
	border: 0;
}

.board-product-search table tr td{
	border: 0;
	text-align: left;
	padding: 0 10px 0 0;
}
.board-product-search table td.pagination{
	text-align: right;
	width: 50%;
	padding-right: 40px;
}

.board-product-search table tr{
	border: 0;
}

#select-products-box table td{
	padding: 0;
	margin: 0;
}
#select-products-pagination{
	text-align: right;
}

p.empty-search-state{
	padding: 20px;
	margin: 0px;
	font-size: 18px;
}
.dashboard-boards table{ 
	padding: 0;
	margin: 0;
}

.dashboard-boards table td{ 
	padding: 0 10px 0 0;
	margin: 0;
}

.dashboard-boards ul{
	list-style-type: none;
}

.dashboard-boards h3{
	margin: 0 0 10px 0;
	padding: 0;
	line-height: 20px;
}

.dashboard-boards p{
	margin: 0;
	padding: 0;
}
/* end dashboard styles */