<h1 style="text-align:center; margin-bottom: 20px;">Introduction to Scout & Nimble Design Tools</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
<iframe src="//fast.wistia.net/embed/iframe/qljq2ewzlh?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="400"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
	</div>
</div>