<div class="container">
	<aside id="sidebar" class="columns four" data-hook="">  
		<div data-hook="dashboard_sidebar_navigation">
		<nav id="taxonomies" class="sidebar-item" data-hook="">
			<h6 class="taxonomy-root">Designer Dashboard</h6>
			<ul class="taxons-list">
				<li><a href="/dashboard">Dashboard Home</a></li>
				<li><a href="/my_boards">My Boards</a></li>
				<li><a href="/my_profile">My Profile</a></li>
			</ul>
		</nav>
		</div>
	</aside>
	<div id="content" class="columns twelve" data-hook="">
		<div class="page-header clearfix">
			<h1>My Dashboard</h1>

		</div>
		
  		<% unless @boards.blank? %>
		<div data-hook="dashboard_boards">
			<ul id="boards" class="inline product-listing" data-hook="">
			    <li id="product_1" class="columns three alpha" data-hook="products_list_item" itemscope="" itemtype="http://schema.org/Product">
			      <div class="product-image">
			        <a href="/products/flask-table-lamp" itemprop="url"><span class="helper"></span><img alt="Flask Table Lamp" itemprop="image" src="https://s3.amazonaws.com/scoutdev/products/2/small/DSC_0006.jpg?1373317604"></a>
			      </div>
			      <a href="/products/flask-table-lamp" class="info" itemprop="name" title="Flask Table Lamp">Flask Table Lamp</a>
			      <span class="price selling" itemprop="price">$199.00</span>
			    </li>
			</ul>	
  		</div>
		<% else %>
		<div class="empty-state">You have not created any boards yet.</div>
		<% end %>
	</div>
</div>